<div id="job-details">
    <div class="actions">
        <button class="btn btn-warning btn-xs" ng-show="viewMode" ng-click="changeView()">Edit</button>
        <button class="btn btn-success btn-xs" ng-show="!viewMode" ng-click="updateJob()">Save</button>
        <button class="btn btn-warning btn-xs" ng-show="!viewMode" ng-click="changeView()">Cancel</button>

    </div>
    <div class="job-view" ng-show="viewMode">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <h2 class="page-title mb16" ng-bind="job.Name"></h2>
                <p ng-bind="job.Description"></p>
            </div>
        </div>
        <div class="row mt16">
            <div class="col-sm-4">
                <div class="info">
                    <label for="">Schedule</label>
                    <div class="value">
                        <p class="lead" ng-bind="job.Schedule" ng-if="job.Cron"></p>
                        <p class="lead" ng-if="!job.Cron">N/A</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="info">
                    <label for="">Cron</label>
                    <div class="value">
                        <p ng-bind="job.Cron" ng-if="job.Cron"></p>
                        <p ng-if="!job.Cron">N/A</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="info">
                    <label for="">Retries</label>
                    <div class="value">
                        <p ng-bind="job.NumberOfRetries"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt16">
            <div class="col-sm-4">
                <div class="info">
                    <label for="">
                        Schedule Date
                    </label>
                    <p class="mb0" ng-if="!job.ScheduleDate">N/A</p>
                    <p class="mb0" ng-bind="job.ScheduleDate|date:'medium'" ng-if="job.ScheduleDate">
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="info">
                    <label for="">
                        On Success Email<span ng-if="job.$successContacts.length > 1">s</span>
                    </label>
                    <p class="mb0" ng-repeat="contact in job.$successContacts">
                        {{contact}}
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="info">
                    <label for="">On Failure Email</label><span ng-if="job.$failureContacts.length > 1">s</span>
                    <p class="mb0" ng-repeat="contact in job.$failureContacts">
                        {{contact}}
                    </p>
                </div>
            </div>
        </div>
        <h3 class="section-title">Logs</h3>
        <div class="mt16">
            <logstable job="{{job._id}}"></logstable>
        </div>
    </div>
    <div class="job-view" ng-show="!viewMode">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <label for="">Job Name</label>
                    <input type="text" class="form-control" ng-model="job.Name">
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="form-group">
                    <label for="">Job Description</label>
                    <input type="text" class="form-control" ng-model="job.Description">
                </div>
            </div>
        </div>
        <div class="row mt16">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Schedule</label>
                    <input type="text" class="form-control" ng-model="job.Schedule">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="">Retries</label>
                    <div class="value">
                        <input type="text" class="form-control" ng-model="job.NumberOfRetries">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt16">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">
                        On Success Emails
                    </label>
                    <input type="text" class="form-control" ng-model="job.OnSuccessContacts">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">On Failure Emails</label>
                    <input type="text" class="form-control" ng-model="job.OnFailureContacts">
                </div>
            </div>
        </div>
        <div class="row mt16">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">Cron</label>
                    <div class="value">
                        <cron-selection class="form-control" output="myOutput" config="myConfig" init="job.Cron.substring(3,job.Cron.length)" ng-show="!job.ScheduleDate"></cron-selection>
                        <p class="form-control" ng-show="job.ScheduleDate">N/A</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group scheduledate" ng-click="groupClicked('input')" style="position:relative">
                    <label class="control-label" for="ScheduleDateInput">Schedule Date</label>
                    <div class="form-edit">
                        <div class="input-group">
                            <input class="form-control" type="text" name="ScheduleDateInput" ng-change="scheduleDateChanged()" ng-model="job.ScheduleDate" ng-required="false" datepicker-popup="dd/MM/yyyy" is-open="scheduleDateCalendarIsOpen" placeholder="DD/MM/YYYY" show-weeks="false" show-button-bar="false">
                            <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="openCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button></span>
                        </div>at
                        <div class="input-group">
                            <select class="form-control hour" ng-model="job.$hour" ng-options="option as option for option in hours"></select>
                            <select class="form-control min" ng-model="job.$min" ng-options="option as option for option in mins"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="section-title">Logs</h3>
        <div class="mt16">
            <logstable job="{{job._id}}"></logstable>
        </div>
    </div>
</div>