<div id="jobs">
    <div class="row">
        <div class="col-sm-9">
            <h2 class="page-title">All Jobs</h2>
        </div>
        <div class="col-sm-3 jobs-search">
            <input type="text" class="search-box" ng-model="searchTerm" />
        </div>
    </div>
    <div class="jobs-wrapper">
        <div class="job" ng-repeat="job in filteredJobs">
            <h4 class="section-subtitle">{{job.Name}}</h4>
            <div class="row">
                <div class="col-sm-10">
                    <small>{{job.Description}}</small>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="info mt16">
                                <label for="">Schedule</label>
                                <div class="value">
                                    {{job.Schedule}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="info mt16">
                                <label for="">Last Ran</label>
                                <div class="value">
                                    <strong class="green">Successfully</strong> on {{job.LastRan|date}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 actions">
                    <a href="#" ui-sref="base.job-details({_id:job._id})" class="btn btn-primary btn-xs">Details</a>
                    <a href="#" class="btn btn-success btn-xs" ng-click="runJob(job)">Run Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
